html {
    @extend %responsive-trigger;
    height: 100vh;
}
html.small {
    background: url('/images/phone-home-bg.jpg') no-repeat fixed left top;
    background-size: cover;
}

.body {
    @include container;
    height: 100vh;
    font-family: $MerriweatherSans;
    @extend %font-helpers;
    background-color: $white;
    @include susy-breakpoint($bp-medium, $columns-medium) {
        @include show-grid(18);
    }
    @include susy-breakpoint($bp-medium, $columns-medium) {
        @include show-grid(24);
    }
}

.bodyhome {
    background-color: transparent;
    @include susy-breakpoint($bp-medium, $columns-medium) {
        background-color: $white;
    }
    @include susy-breakpoint($bp-large, $columns-large) {
        background-color: $white;
    }
}
