.brewerdetail {
    &-image {
        display: block;
        margin: 0 auto;
        padding-top: rhythm(1, 16px);
    }
    &-header {
        text-align: center;
        color: $black;
        @include type-scale(medium);
    }
    &-button {
        @include span(12 of 12);
        text-align: center;
        color: $black;
        text-decoration: none;
        &:before {
            float: left;
            padding-left: span(2 of 12);
            margin-top: rhythm(.25, 16px);
            color: $grey-blue;
        }
        &:active {
            background-color: rgba($green-dark, .5);
        }
    }
    &-linktext {
        @include type-scale(base);
        margin: rhythm(.25, 16px) 0;
        text-align: left;
        padding-left: span(5 of 12);
    }
    &-amazing {
        @include full;
        @include type-scale(base);
        margin-top: rhythm(.5, 16px);
        text-align: center;
        color: $black;
    }
    &-small {
        @include type-weight(bold);
        @include type-scale(small);
    }
}

.button-map {
    @include icon('before', true, 'map');
}
.button-phone {
    @include icon('before', true, 'phone');
}
.button-shopping {
    @include icon('before', true, 'shopping');
}
.button-dining {
    @include icon('before', true, 'dining');
}
.button-weather {
    @include icon('before', true, 'weather');
}