.intro {
    @include full;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    &-description {
        text-align: center;
        color: $black;
        @include type-scale(base);
        &-header {
            @extend %inside-view;
            padding: rhythm(.25, 16px) 0;
            text-align: center;
            color: $black;
            @include type-scale(base);
            border-top: .1em solid rgba($grey-blue, .5);
            border-bottom: .1em solid rgba($grey-blue, .5);
            @include susy-breakpoint($bp-medium, $columns-medium) {
                $bleed: span(6)+gutter(4);
                @include bleed-x($bleed);
                @include type-scale(large);
            }
        }
    }
    &-choose {
        @include full;
        width: 100%;
        margin-top: rhythm(1, 16px);
        margin-right: 0;
        margin-left: 0;
        background-color: rgba($green, .25);
        border-radius: .25em;
        border: .1em solid $green-dark;
        &-link {
            padding: rhythm(.5, 16px) gutter(6);
            @include type-scale(small);
            text-decoration: none;
            color: $black;
            &-left {
                @extend %intro-links;
                border-right: .1em solid $green-dark;
                @include susy-breakpoint($bp-medium, $columns-medium) {
                    @include type-scale(base);
                }
            }
            &-right {
                @extend %intro-links;
                @include susy-breakpoint($bp-medium, $columns-medium) {
                    @include type-scale(base);
                }
            }
        }
    }
}