.view {
    min-height: 100vh;
    @include span(12 wide of 12 no-gutters);
    padding: rhythm(2.7, 16px) span(1) 0;
    @include lob-owl();
    @include translateZ(5);
    @include susy-breakpoint($bp-medium, $columns-medium) {
        padding: rhythm(2.7, 16px) span(4 of 18) 0;
    }
    @include susy-breakpoint($bp-large, $columns-large) {
        padding: rhythm(2.7, 16px) span(6 of 24) 0;
    }
}