.view {
    @include span(12 wide of 12 no-gutters);
    padding: 0 span(1);
    margin-top: rhythm(3, 16px);
    @include translateZ(5);
    @include susy-breakpoint($bp-medium, $columns-medium) {
        padding: 0 span(4 of 18);
    }
    @include susy-breakpoint($bp-large, $columns-large) {
        padding: 0 span(6 of 24);
    }
}

.spinner {
  display: none;
  &-progress {
    clear: both;
    display: block;
    width: rhythm(5, 16px);
    height: rhythm(5, 16px);
    margin: rhythm(4, 16px) auto;
    -webkit-animation: rotation .95s infinite linear;
    -moz-animation: rotation .95s infinite linear;
    -o-animation: rotation .95s infinite linear;
    animation: rotation .95s infinite linear;
    border-top: .1em solid $grey-blue;
    border-radius: 100%;
  }
}

@-webkit-keyframes rotation {
from {-webkit-transform: rotate(0deg);}
to {-webkit-transform: rotate(359deg);}
}

@-moz-keyframes rotation {
from {-moz-transform: rotate(0deg);}
to {-moz-transform: rotate(359deg);}
}

@-o-keyframes rotation {
from {-o-transform: rotate(0deg);}
to {-o-transform: rotate(359deg);}
}

@keyframes rotation {
from {transform: rotate(0deg);}
to {transform: rotate(359deg);}
}