.intro {
    padding-top: rhythm(2, 16px);
        @include susy-breakpoint($bp-large, $columns-large) {
            padding-top: rhythm(1, 16px);
        }
    &-description {
        padding: rhythm(.5, 16px) 0;
        text-align: center;
        color: $black;
        @include type-scale(base);
        &-header {
            @extend %inside-view;
            @include type-scale(large);
            margin-bottom: rhythm(.7, 16px);
            text-align: center;
            color: $black;
            border-top: .1em solid rgba($grey-blue, .5);
            border-bottom: .1em solid rgba($grey-blue, .5);
            @include susy-breakpoint($bp-medium, $columns-medium) {
                $bleed: span(6)+gutter(4);
                @include bleed-x($bleed);
                @include type-scale(large);
            }
            @include susy-breakpoint($bp-large, $columns-large) {
                margin-bottom: rhythm(.7, 16px);
            }
        }
    }
    &-choose {
        @include span(12 wide of 12 no-gutters);
        margin-top: rhythm(1, 16px);
        background-color: rgba($green, .25);
        border-radius: .25em;
        border: .1em solid $green-dark;
        @include susy-breakpoint($bp-medium, $columns-medium) {
            @include span(14 wide of 18 no-gutters);
            margin-left: span(2 of 18);
            margin-right: span(2 of 18);
        }
        @include susy-breakpoint($bp-large, $columns-large) {
            @include span(12 of 24);
            margin-left: span(6 of 24);
            margin-right: span(6 of 24);
        }
        &-link {
            padding: rhythm(.5, 16px) gutter(6);
            @include type-scale(small);
            text-decoration: none;
            color: $white;
            text-shadow: 0px 0px 2px $black;
            &-left {
                @extend %intro-links;
                border-right: .1em solid $green-dark;
                @include susy-breakpoint($bp-medium, $columns-medium) {
                    @include type-scale(base);
                }
            }
            &-right {
                @extend %intro-links;
                @include susy-breakpoint($bp-medium, $columns-medium) {
                    @include type-scale(base);
                }
            }
        }
    }
}

.caveat {
    display: none;
    @include susy-breakpoint($bp-medium, $columns-medium) {
        display: none;
    }
    @include susy-breakpoint($bp-large, $columns-large) {
        display: block;
        @include span(24 wide of 24 no-gutters);
        @include type-scale(small);
        text-align: center;
        color: $black;
        &:first-of-type {
            padding-top: rhythm(2, 16px);
        }
    }
}

.headerhome {
    @include type-weight(bold);
    color: $white;
    text-shadow: 0px 0px 2px $black;
    @include susy-breakpoint($bp-medium, $columns-medium) {
        @include type-weight(regular);
        color: $black;
        text-shadow: 0px 0px 0px $black;
    }
    @include susy-breakpoint($bp-large, $columns-large) {
        @include type-weight(regular);
        color: $black;
        text-shadow: 0px 0px 0px $black;
    }
}

.texthome {
    color: $white;
    text-shadow: 0px 0px 2px $black;
    @include susy-breakpoint($bp-medium, $columns-medium) {
        color: $black;
        text-shadow: 0px 0px 1px transparent;
    }
    @include susy-breakpoint($bp-large, $columns-large) {
        color: $black;
        text-shadow: 0px 0px 1px transparent;
    }
}

.choosehome {
    background-color: $green;
        border: .1em solid $black;
}