.brewer-list {
    @extend %lists;
    @include susy-breakpoint($bp-medium, $columns-medium) {
        padding-left: span(3 of 18);
    }
    @include susy-breakpoint($bp-large, $columns-large) {
        min-height: rhythm(5, 16px);
        padding-left: span(1 of 24);
        &:hover {
            background-color: rgba($grey-blue, .25);
        }
    }
    &-image {
        @extend %lists-image;
    }
    &-detail {
        @extend %lists-detail;
        &-small {
            @extend %lists-detail-small;
        }
    }
}