.weather {
    &-attribution {
        @extend %attribution;
        @include susy-breakpoint($bp-medium, $columns-medium) {
            $bleed: span(6)+gutter(3.5);
            @include bleed-x($bleed);
        }
        @include susy-breakpoint($bp-large, $columns-large) {
            $bleed: span(10)+gutter(2.3);
            @include bleed-x($bleed);
            text-align: left;
        }
    }
    &-header {
        padding: rhythm(.25, 16px) 0;
        @include type-scale(medium);
        margin: rhythm(.5, 16px) 0;
        text-align: center;
        color: $black;
        border-top: .1em solid rgba($green, .3);
        border-bottom: .1em solid rgba($green, .3);
        @include susy-breakpoint($bp-large, $columns-large) {
            text-align: left;
        }
    }
    &-forecast {
        @include span(12 of 12);
        @extend .weather-header;
        @include type-scale(base);
        border-top: none;
    }
    &-description {
        @include span(last 8 of 12);
        @include type-scale(base);
        margin-top: rhythm(1, 16px);
        color: $black;
    }
    &-skycons {
        @include span(4 of 12);
        margin-top: rhythm(1, 16px);
        height: 64px;
        @include susy-breakpoint($bp-medium, $columns-medium) {
            @include span(3 of 18);
            margin-left: span(3 of 18);
            margin-top: rhythm(.5, 16px);
        }
        @include susy-breakpoint($bp-large, $columns-large) {
            @include span(3 of 24);
            margin-left: span(3 of 24);
        }
    }
}