%font-helpers {
    font-kerning: normal;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

%nav-buttons {
    @include span(2 of 12);
    padding-top: rhythm(.25, 16px);
    cursor: pointer;
    text-align: center;
    @include adjust-font-size-to(28px);
    text-decoration: none;
    color: $yellow-lite;
    text-shadow: 0 0 1px $black-dark;
    &:active {
        text-shadow: 0 0 1px $black, 0 0 1em $white;
    }
}

%intro-links {
    @include span(50%);
    margin: 0;
    text-align: center;
    &:focus {
        background-color: $green-light;
    }
    &:active {
        background-color: $green-light;
    }
}

%lists {
    @include span(12 wide of 12 no-gutters);
    padding: rhythm(1, 16px) 0px;
    border-bottom: .1em solid $grey-blue;
    text-decoration: none;
    @include susy-breakpoint($bp-medium, $columns-medium) {
        @include span(18 wide of 18 no-gutters);
        padding-left: span(3 of 18);
    }
    @include susy-breakpoint($bp-large, $columns-large) {
        @include span(8 of 24 no-gutters);
        &:hover {
            background-color: rgba($grey-blue, .25);
        }
    }
    &:focus {
        background-color: $green-light;
    }
    &:active {
        background-color: $green-light;
    }

    &-detail {
        @include span(last 9 of 12);
        @include type-scale(base);
        color: $black;
        &-small {
            @include span(last 9 of 12);
            @include type-scale(tiny);
            color: $black;
        }
    }

    &-image {
        @include span(3 of 12);
        height: 40px;
        margin-right: 0;
    }
}

%attribution {
    $bleed: span(1)+gutter(13);
    @include bleed-x($bleed);
    padding: rhythm(.5, 16px);
    margin-top: rhythm(-1, 16px);
    text-align: center;
    background-color: $attribution;
    border-bottom: .1em solid $grey-blue-lite;
    a {
        @include type-scale(small);
        text-decoration: none;
        color: $black;
    }
}

%inside-view {
    $bleed: span(1)+gutter(12);
    @include bleed-x($bleed);

    &-medium {
        $bleed: span(3)+gutter(13);
        @include bleed-x($bleed);
    }
}

%responsive-trigger {
    &::after {
        content: "phone";
        display: block;
        position: absolute;
        top: 0px;
        left: -1000px;
        @include susy-breakpoint($bp-medium, $columns-medium) {
            content: "tablet";
        }
        @include susy-breakpoint($bp-large, $columns-large) {
            content: "computer";
        }
    }
}