%font-helpers {
font-kerning: normal;
font-synthesis: none;
text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased;
}

%nav-buttons {
    @include span(2 of 12);
    padding-top: rhythm(.25, 16px);
    text-align: center;
    @include adjust-font-size-to(28px);
    text-decoration: none;
    color: $yellow-lite;
    text-shadow: 0 0 .5em $green-darker;
    &:active {
        text-shadow: 0 0 1em $white;
    }
}

%intro-links {
    @include span(50%);
    margin: 0;
    text-align: center;
    &:focus {
        background-color: rgba($green, .75);
    }
    &:active {
        background-color: rgba($green, .75);
    }
}

%lists {
    @include span(12 wide of 12 no-gutters);
    padding: rhythm(.47, 16px) 0;
    border-bottom: .1em solid rgba($green, .25);
    text-decoration: none;
    @include susy-breakpoint($bp-medium, $columns-medium) {
        @include span(18 wide of 18 no-gutters);
    }
    @include susy-breakpoint($bp-large, $columns-large) {
        @include span(8 of 24 no-gutters);
    }
    &:focus {
        background-color: rgba($green-dark, .5);
    }
    &:active {
        background-color: rgba($green-dark, .5);
    }

    &-detail {
        @include span(last 9 of 12);
        @include type-scale(base);
        color: $black;
        &-small {
            @include span(last 9 of 12);
            @include type-scale(tiny);
            color: $black;
        }
    }

    &-image {
        @include span(3 of 12);
        height: 40px;
        margin-right: 0;
    }
}

%attribution {
    $bleed: span(1)+gutter(13);
    @include bleed-x($bleed);
    margin-top: rhythm(-.33, 16px);
    text-align: center;
    padding: rhythm(.5, 16px);
    background-color: $attribution;
    border-bottom: .1em solid rgba($grey-blue, .5);
    a {
        @include type-scale(small);
        text-decoration: none;
        color: $black;
    }
}

%inside-view {
    $bleed: span(1)+gutter(12);
    @include bleed-x($bleed);

    &-medium {
        $bleed: span(3)+gutter(13);
        @include bleed-x($bleed);
    }
}

%responsive-trigger {
    &::after {
        content: "phone";
        display: block;
        position: absolute;
        top: 0px;
        left: -1000px;
        @include susy-breakpoint($bp-medium, $columns-medium) {
            content: "tablet";
        }
        @include susy-breakpoint($bp-large, $columns-large) {
            content: "computer";
        }
    }
}