<input class="search-input" placeholder="Search: Everything" ng-model="search.$">
<a ng-href="#!/{{brewer.selector}}" ng-repeat="brewer in brewerList | filter:search:strict track by $index" class="brewer-list">
    <div class=" brewer-list-image brewer40-{{brewer.selector}}"></div>
    <p class="brewer-list-detail">{{brewer.name}}</p>
    <p class="brewer-list-detail brewer-list-detail-small">{{brewer.address}}</p>
    <p class="brewer-list-detail brewer-list-detail-small">{{brewer.city}}, {{brewer.state}}</p>
</a>
<section class="spinner-block" loading-spinner-widget>
    <div class="spinner"></div>
</section>