
<section class="intro">
    <h2 class="intro-description-header">Vermont BeerTrail</h2>
    <p class="intro-description">A little web resource to help you find your way around this amazing place we call home.</p>
    <p class="intro-description">Enjoy the scenery,</p>
    <p class="intro-description">Watch Out For The Cows!</p>
</section>

<section class="intro-choose">
  <a href="#!/brewerlist" class="intro-choose-link intro-choose-link-left">Brewer List</a>
  <a href="#!/brewermap" class="intro-choose-link intro-choose-link-right">All Breweries Map</a>
</section>

<p class="caveat">So... it seems you are on your computer.</p>
<p class="caveat">Please understand, VT BeerTrail really was designed from the ground up to be used on a telephone to help you when you are in your car up here.</p>
<p class="caveat" data-home-data-prefetch>Everything does work exactly the same, so many thanks for taking a look, feel free to poke around!</p>
