<section class="intro" google-screenview>
    <h2 class="intro-description-header">Welcome to the Vermont Beer Trail</h2>
    <p class="intro-description">A little web resource to help you find your way around this pretty amazing place we call home:</p>
    <p class="intro-description">our craft brewers, big and small,</p>
    <p class="intro-description">their work, and their communities.</p>
    <p class="intro-description">Enjoy the scenery,</p>
    <p class="intro-description">Watch Out For The Cows!</p>
</section>
<section class="intro-choose">
  <a ng-href="#/brewerlist" class="intro-choose-link intro-choose-link-left">Brewer List</a>
  <a ng-href="#/brewermap" class="intro-choose-link intro-choose-link-right">All Breweries Map</a>
</section>
